# Ignore node_modules for the server
server/node_modules/
# Ignore node_modules for the client
client/node_modules/

# Ignore build or compiled files for the server (you can add more if needed)
server/build/
server/dist/

# Ignore build or compiled files for the client (you can add more if needed)
client/build/
client/dist/

# Ignore environment-specific files
server/.env
client/.env

# Ignore log files
*.log

# Ignore user-specific files
.DS_Store
node_modules
